# Core
bdrk[model-monitoring]==0.6.0
numpy==1.19.2
pandas==1.1.3
scikit-learn==0.23.2
catboost==0.24.4

# Train
scipy=1.5.2
imbalanced-learn=0.7.0
aif360=0.3.0
shap=0.37.0

# Serve
gunicorn==20.0.4
flask==1.1.2
prometheus_client==0.8.0
